"" .ideavimrc - Matt Chapman
"" https://www.cyberwizard.io/posts/the-ultimate-ideavim-setup

"" Base Settings
"" ========================================================

set scrolloff=15
set showmode
set showcmd

" for relative line numbers
set number
set relativenumber


set smartcase
set incsearch
set hlsearch

set VimEverywhere

set visualbell

" Use system clipboard
set clipboard+=unnamed

let mapleader = " "


"" Plugin Settings
"" ========================================================

set surround
set highlightedyank
set sneak
set NERDTree


" Easymotion settings
set easymotion
set notimeout

" Which-key settings
set which-key
let g:WhichKey_FontSize = 16
let g:WhichKey_CommandColor = "#41ead4"
let g:WhichKey_PrefixColor = "#f335b2"
let g:WhichKey_SortOrder = "by_key_prefix_first"

let g:WhichKeyDesc_leader = "<leader> Leader key"

let g:WhichKeyDesc_close = "<leader>x Close Current File"

let g:WhichKeyDesc_easymotion = "<leader>j Jump with Easymotion"
let g:WhichKeyDesc_easymotion_prefix = "<leader><leader>"

let g:WhichKeyDesc_comment = "<leader>c Comment line"

let g:WhichKeyDesc_fold = "<leader>z Folding"
let g:WhichKeyDesc_fold_all = "<leader>zc Fold all regions"
let g:WhichKeyDesc_unfold_all = "<leader>zo Unfold all regions"

let g:WhichKeyDesc_window = "<leader>w Window splits"
let g:WhichKeyDesc_window_split_vertically = "<leader>wv Split vertically"
let g:WhichKeyDesc_window_split_horizontally = "<leader>wh Split horizontally"
let g:WhichKeyDesc_window_split_unsplit = "<leader>wu Unsplit"
let g:WhichKeyDesc_window_split_move_editor = "<leader>wm Move editor to opposite tab group"


let g:WhichKeyDesc_display = "<leader>d Display options"
let g:WhichKeyDesc_zen_mode = "<leader>dz Toggle Zen mode"
let g:WhichKeyDesc_df_mode = "<leader>dd Toggle Distraction-Free mode"
let g:WhichKeyDesc_fullscreen = "<leader>df Toggle full screen"

let g:WhichKeyDesc_action= "<leader>a Actions"
let g:WhichKeyDesc_action_context_menu = "<leader>am Open context menu"
let g:WhichKeyDesc_action_search = "<leader>as Open command modal"

let g:WhichKeyDesc_file_quickLook = "<leader><leader> Recent files"

let g:WhichKeyDesc_file_nav = "<leader>f File navigation"
let g:WhichKeyDesc_file_nav_goto_file = "<leader>ff Go to file"
let g:WhichKeyDesc_file_nav_goto_content = "<leader>fc Search for file content"
let g:WhichKeyDesc_file_nav_show_recent_files = "<leader>fr Show recent files"
let g:WhichKeyDesc_file_nav_show_recent_locations = "<leader>fl Show recent locations"

let g:WhichKeyDesc_close_tab = "<leader>q Close active tab"

let g:WhichKeyDesc_refactoring = "<leader>r Refactoring menu"
let g:WhichKeyDesc_refactoring_rename = "<leader>rn Rename element"
let g:WhichKeyDesc_refactoring_method = "<leader>rm Extract method"
let g:WhichKeyDesc_refactoring_variable = "<leader>rv Introduce variable"
let g:WhichKeyDesc_refactoring_field = "<leader>rf Introduce field"
let g:WhichKeyDesc_refactoring_signature = "<leader>rs Change signature"
let g:WhichKeyDesc_refactoring_all = "<leader>rr Open refactorings list"

let g:WhichKeyDesc_goto = "<leader>g Go to X"
let g:WhichKeyDesc_goto_declaration = "<leader>gd Go to Definition"
let g:WhichKeyDesc_goto_type_declaration = "<leader>gy Go to Type Definition"
let g:WhichKeyDesc_goto_implementation = "<leader>gi Go to Implementation"
let g:WhichKeyDesc_goto_usages = "<leader>gu Go to Usages"
let g:WhichKeyDesc_goto_test = "<leader>gt Go to Test"

let g:WhichKeyDesc_git = "<leader>v Git operations"

let g:WhichKeyDesc_explorer = "<leader>e Reveal file in explorer"


"" Key mappings
"" ========================================================

" Tab navigation
nnoremap <A-n> :tabnext<CR>
nnoremap <A-p> :tabprev<CR>

" Pane navigation
nnoremap <A-h> <C-w>h
nnoremap <A-l> <C-w>l
nnoremap <A-k> <C-w>k
nnoremap <A-j> <C-w>j

" Easy visual indentation
vnoremap < <gv
vnoremap > >gv

" Execute macro saved in 'q' register
nnoremap qj @q

" Popup navigation
inoremap <C-j> <Action>(PopupMenu-selectNext)
inoremap <C-k> <Action>(PopupMenu-selectPrev)


"" Leader commands
"" ========================================================

" Comment lines
map <leader>c <action>(CommentByLineComment)

" Jump around with easymotion
map <leader>j <Plug>(easymotion-s)

" Window splits
map <leader>wv <Action>(SplitVertically)
map <leader>wh <Action>(SplitHorizontally)
map <leader>wu <Action>(Unsplit)
map <leader>wm <Action>(MoveEditorToOppositeTabGroup)

" Actions
map <leader>am <action>(ShowIntentionActions)
map <leader>as <action>(SearchEverywhere)

" File navigation
map <leader>ff <action>(GotoFile)
map <leader>fr <action>(RecentFiles)
map <leader>fc <action>(FindInPath)
map <leader>fs <action>(FileStructurePopup)

" Close active tab
map <leader>x <action>(CloseContent)
map <leader>X <action>(ReopenClosedTab)

" Refactoring
map <leader>rn <Action>(RenameElement)
map <leader>rm <Action>(ExtractMethod)
map <leader>rv <Action>(IntroduceVariable)
map <leader>rf <Action>(IntroduceField)
map <leader>rs <Action>(ChangeSignature)
map <leader>rr <Action>(Refactorings.QuickListPopupAction)

" Go to code
nmap <leader>gd <Action>(GotoDeclaration)
nmap <leader>gy <Action>(GotoTypeDeclaration)
nmap <leader>gi <Action>(GotoImplementation)
nmap <leader>gu <Action>(ShowUsages)
nmap <leader>gt <Action>(GotoTest)

" Git windows
map <leader>vv <Action>(Vcs.QuickListPopupAction)
map <leader>vc <Action>(CheckinProject)
map <leader>vp <Action>(Vcs.Push)
map <leader>vu <Action>(Vcs.UpdateProject)
map <leader>vr <Action>(Vcs.RollbackChangedLines)
map <leader>vb :action Annotate<CR>
map <leader>vi <Action>(ToggleLineBreakpoint)

"" NERDTree
"" ========================================================
" Toggle file explorer
map <leader>e :NERDTreeFind<CR>


" NERDTree keys (active inside the tree panel):
" o     - Open file/directory
" go    - Preview file (cursor stays in tree)
" s     - Open in vertical split
" i     - Open in horizontal split
" t / T - Open in new tab (T keeps focus on tree)
" x     - Close parent directory
" O / X - Recursively open/close directories
" P     - Jump to root node
" p     - Jump to parent
" J / K - Jump to last/first sibling
" n / N - Create new file / directory
" d     - Delete file/directory
" m     - Open context menu
" q     - Close the tree
" A     - Maximize/minimize the tree

"" Use shift + h and shift + l to move back and Forward like the browser
nmap <leader>h <Action>(Back)
nmap <leader>l <Action>(Forward)

"" Debugging
map <leader>db <Action>(ToggleLineBreakpoint)
map <leader>dd <Action>(DebugClass)
map <leader>ds <Action>(StepOver)
map <leader>de <Action>(EvaluateExpression)

nmap \s <Action>(SaveAll)
nmap \p <Action>(ParameterInfo)
nmap \o <Action>(OptimizeImports)
nmap \d <Action>(QuickJavaDoc)
nmap \r <Action>(ChooseRunConfiguration)
nmap \R <Action>(Rerun)
nmap \n <Action>(Generate)
nmap \- <Action>(CollapseRegion)
nmap \+ <Action>(ExpandRegion)

"" Stretch right and left
nnoremap <A-S-h> :action StretchSplitToLeft<CR>
nnoremap <A-S-j> :action StretchSplitToBottom<CR>
nnoremap <A-S-k> :action StretchSplitToTop<CR>
nnoremap <A-S-l> :action StretchSplitToRight<CR>

"" ======= Tests
nnoremap <leader>tt :action RunClass<CR>
nnoremap <leader>td :action DebugClass<CR>